{% extends 'base.html' %}
{% load static %}
{% block title %} Mofonaina {% endblock %}

{% block content %}
<!-- style -->
<link rel="stylesheet" href="{% static 'css/mofonaina/mofonaina.css' %}">
<!-- ./style -->


<!-- home text -->
<div id="home" class="" style="background-image: url('{% static 'images/jesus.jpeg' %}')">

    <h3 class="" id="text-home" style="">
    </h3>
</div>
<!-- home text -->

<!-- mofonaina cards -->
<div class="container-fluid w-100 mt-2 p-5 ">
    <div id="mofonaina-container" class="">
        <div class="card mt-1">
            <div class="card-header">
                <span> Lohateny </span>
            </div>
            <div class="card-body">
                lorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab la
            </div>
            <div class="card-footer">
                <a href="/"><input type="button" class="btn btn-success w-100" value="Vakiana"></a>
            </div>
        </div>
        <div class="card mt-1">
            <div class="card-header">
                <span> Lohateny </span>
            </div>
            <div class="card-body">
                lorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab la
            </div>
            <div class="card-footer">
                <a href="/"><input type="button" class="btn btn-success w-100" value="Vakiana"></a>
            </div>
        </div>
        <div class="card mt-1">
            <div class="card-header">
                <span> Lohateny </span>
            </div>
            <div class="card-body">
                lorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab la
            </div>
            <div class="card-footer">
                <a href="/"><input type="button" class="btn btn-success w-100" value="Vakiana"></a>
            </div>
        </div>
        <div class="card mt-1">
            <div class="card-header">
                <span> Lohateny </span>
            </div>
            <div class="card-body">
                lorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab lalorem im bla bla blab albalab lablab la lorem im bla bla blab albalab lablab la
            </div>
            <div class="card-footer">
                <a href="/mofonaina/vakiana/2"><input type="button" class="btn btn-success w-100" value="Vakiana"></a>
            </div>
        </div>
    </div>
</div>
<!-- ./mofonaina cards -->

<!-- script -->
<script type="application/javascript" src="{% static 'js/mofonaina/mofonaina.js' %}"> </script>
<!-- ./ script -->

{% endblock %}